.producto-detalle-card {
  background-color: #fff0f6;
}

.btn-agregar {
  border: 2px solid #f3c4d6;
  background-color: #fff;
  color: #444;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.btn-agregar:hover {
  background-color: #ffe6f0;
  border-color: #f2a7c1;
}
